@import url('https://fonts.googleapis.com/css?family=Poppins:400,300,700,500|Rubik:400,300,500');

@font-face {
                          font-family: "ArialRoundedMTBold";
                          src: url('../fonts/Arial Rounded Bold.ttf') format("truetype");
                        }
                        
.homepage {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.homepage .hero {
  background-color    : rgba(255,255,255,0.0);
  top                 : -833px;
  height              : 1825px;
  width               : 2702px;
  position            : absolute;
  margin              : 0;
  left                : -574px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .hero .rectangle {
  background-color    : rgba(46, 91, 233, 1.0);
  top                 : 298px;
  height              : 1228px;
  width               : 2467px;
  position            : absolute;
  margin              : 0;
  left                : 117px;
  border-radius       : 536px;
  -ms-transform       : rotate(-15deg); /* IE 9 */
  -webkit-transform   : rotate(-15deg); /* Chrome, Safari, Opera */
  transform           : rotate(-15deg);
}
.homepage .hero .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1026px;
  height              : 397px;
  width               : 545px;
  position            : absolute;
  margin              : 0;
  left                : 619px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .hero .content .mediumpriceforthe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 547px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 57.0px;
}
.homepage .hero .content .whenyouneedakick {
  background-color    : rgba(255,255,255,0.0);
  top                 : 134px;
  height              : auto;
  width               : 522px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Rubik", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(196, 208, 229, 1.0);
  text-align          : left;
  line-height         : 34.0px;
}
.homepage .hero .content .createaccount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 378px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 273px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(196, 208, 229, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.homepage .hero .input {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1312px;
  height              : 71px;
  width               : 258px;
  position            : absolute;
  margin              : 0;
  left                : 750px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .hero .input .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 71px;
  width               : 258px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .hero .input .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 25.0px;
  color               : rgba(46, 91, 233, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.homepage .hero .group198 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 942px;
  height              : 690px;
  width               : 780px;
  position            : absolute;
  margin              : 0;
  left                : 1194px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 46px;
  width               : 1351px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .header .home {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 666px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(231, 234, 238, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.homepage .header .search {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 797px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(231, 234, 238, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.homepage .header .featurescopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 950px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 17.0px;
  color               : rgba(231, 234, 238, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.homepage .header .btn-view {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 46px;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 1182px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .header .btn-view .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .header .btn-view .getstartednow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(46, 91, 233, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.homepage .header .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 30px;
  width               : 226px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .header .logo .peamediumprice {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ArialRoundedMTBold", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}